// When importing main, the underscore is left out to prevents the SCSS compiler from generating a CSS file from it.

// Main colors used throughout the site
$backgroundColor: #1F1F2F;
$dark: #191927;
$gray: #84858E;
$green: #1abb9c;
$red: #FB494D;