@import '../../assets/css/main';

.navigation {
  position: fixed;
  z-index: 999;
  background-color: $backgroundColor;
  transition: width 200ms ease;
  &:hover {
    .navigation__link-icon {
      opacity: 1;
    }
    .navigation__arrow-icon {
      color: $green;
      transform: rotate(-180deg);
      margin-left: auto;
    }
  }
  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__arrow {
    width: 100%;
    &-container {
      height: 5rem;
      background-color: $dark;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      color: $grey;
    }
    &-icon {
      min-width: 2rem;
      height: 2rem;
      margin: 0 1.5rem;
      opacity: 0.7;
      transform: rotate(0deg);
      transition: transform 500ms;
    }
  }
  &__item {
    width: 100%;
    &:hover {
      background-color: $dark;
      .navigation__link-icon {
        color: $green;
      }
    }
    &:last-child {
      margin: auto 0 5rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $grey;
    &-icon {
      min-width: 2rem;
      max-height: 2rem;
      margin: 0 1.5rem;
      opacity: 0.7;
      transition: all 500ms;
    }
    &-text {
      display: none;
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    -webkit-box-shadow: 0 -2px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 -2px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0 -2px 12px -1px rgba(0,0,0,0.75);
    &__menu {
      flex-direction: row;
    }
    &__item:last-child {
      margin: 0;
    }
    &__arrow {
      display: none;
    }
    &__link {
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 600px) {
  .navigation {
    width: 5rem;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    -webkit-box-shadow: 11px 0 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 0 13px -8px rgba(0,0,0,0.75);
    box-shadow: 11px 0 13px -8px rgba(0,0,0,0.75);
    &:hover {
      width: 16rem;
      .navigation__link-text {
        display: inline;
      }
    }
  }
}